.footer {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 2rem 0;
}

.footer__logo {
  max-width: 150px;
  display: block;
  margin-bottom: 1rem;
}

.footer__about {
  font-size: .85rem;
  font-weight: 100;
  line-height: 1.25;
}

.footer__about a {
  color: var(--orange);
  text-decoration: none;
}

.footer__about a:hover {
  text-decoration: underline;
}

.footer__widget {
  font-weight: 100;
}

.footer__widget .widgettitle {
  margin-bottom: .5rem;
}

.footer__widget .menu-item a {
  color: var(--white);
  padding: .125rem 0;
  display: inline-block;
  font-size: .85rem;
  text-decoration: none;
}

.footer__widget .menu-item a:hover {
  text-decoration: underline;
}