.newsletter {
  background-color: var(--light-blue-grey);
  padding: 2rem;
}

.newsletter__heading {
  margin-top: 0;
}

.newsletter__description {
  margin-top: .5rem;
}

.newsletter__form {
  display: flex;
}

.newsletter__input,
.newsletter__submit {
  margin-top: 1rem;
}

.newsletter__input {
  flex: 1;
}

.newsletter__submit {
  margin-left: .5rem;
}

@media screen and (min-width: 768px) {
  .newsletter__input,
  .newsletter__submit {
    margin-top: 0;
  }
}