/* Put CSS custom properties inside this.
Example: --custom-property: 10px; defined a custom property with the value 10px.
This property can then be used as: var(--custom-property) and will be resolved to be 10px in the browser. */
:root {
  --orange: #FF9800;
  --dark-orange: #F57C00;
  --dark-grey: #263238;
  --shade-grey: #455A64;
  --medium-grey: #546E7A;
  --lighter-grey: #FAFAFA;
  --light-grey: #E7E7E7;
  --light-blue-grey: #ECEFF1;
  --white: #FFFFFF;
  --success: #4CAF50;
  --error: #F44336;

  --shadow-1dp: 0 1px 2px rgba(0,0,0,.16);
  --shadow-2dp: 0 1px 4px rgba(0,0,0,.16);
}