.breadcrumbs {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
  margin: 1rem 0;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--dark-grey);
}

.breadcrumbs a:hover {
  text-decoration: underline;
}