.button {
  display: inline-flex;
  background-color: transparent;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  border-radius: .125rem;
  font-size: 14px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.button:focus {
  outline: none;
  background-color: var(--light-grey);
}

.button[disabled] {
  color: color(var(--dark-grey) alpha(-62%));
}

.button--raised {
  background-color: var(--orange);
  box-shadow: var(--shadow-1dp);
}

.button--raised:focus {
  background-color: color(var(--orange) blackness(10%));
}

.button--raised[disabled] {
  background-color: var(--light-grey);
  box-shadow: none;
}

.button--fullwidth {
  width: 100%;
}