html.overflow-hidden,
html.overflow-hidden body {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.mega-menu {
  background-color: var(--white);
  box-shadow: var(--shadow-2dp);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  transform: translateX(calc(-100% - 1rem));
  transition: .3s transform;
  z-index: 999999; /* Overwrite WP Admin Bar Z-index */
}

.mega-menu--open {
  transform: translateX(0);
}

.mega-menu__logo-row {
  flex: 1;
  padding-left: 1rem;
  padding-right: .5rem;
}

.mega-menu__logo {
  margin-top: 1rem;
}

.mega-menu__close {
  display: flex;
  justify-content: flex-end;
  height: 4.5rem;
}

.mega-menu__close-button {
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  border: 0;
}

.mega-menu__container {
  height: calc(100% - 4.5rem);
  overflow-y: auto;
}

.mega-menu__list {
  margin: 1rem 0;
  padding: 0;
}

.mega-menu__list > .menu-item {
  cursor: pointer;
}

.mega-menu__list > .menu-item a {
  color: var(--dark-grey);
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.mega-menu__list > .menu-item > .sub-menu {
  display: none;
}

.mega-menu__list > .menu-item.menu-item--open > a {
  background-color: var(--light-grey);
}

.mega-menu__list > .menu-item.menu-item--open > .sub-menu {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.mega-menu__list > .menu-item.menu-item--open > .sub-menu > .menu-item > .sub-menu {
  display: none;
}

@media (min-width: 768px) {
  .mega-menu {
    background-color: var(--medium-grey);
    transform: none;
    position: relative;
    width: auto;
  }

  .mega-menu__close {
    display: none;
  }

  .mega-menu__container {
    height: auto; 
    overflow-y: initial;
  }

  .mega-menu__list {
    display: flex;
    height: 3rem;
    margin: 0;
    justify-content: space-between;
  }

  .mega-menu__list > .menu-item {
    flex: 1 1 auto;
  }

  .mega-menu__list > .menu-item:last-child {
    margin-right: 0;
  }

  .mega-menu__list .menu-item a {
    text-decoration: none;
    color: var(--white);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
  }

  .mega-menu__list .menu-item a:hover {
    background-color: var(--dark-grey);
  }

  .mega-menu__list > .menu-item.current-menu-ancestor a {
    background-color: var(--shade-grey);
  }

  .mega-menu__list .menu-item > .sub-menu {
    position: absolute;
    z-index: 1;
    top: 3rem;
    left: 0;
    background-color: var(--white);
    box-shadow: var(--shadow-2dp);
    border-bottom-left-radius: .125rem;
    border-bottom-right-radius: .125rem;
    padding: .5rem 0;
    display: none;
    width: 100%;
    justify-content: space-between;
  }

  .mega-menu__list .menu-item:hover > .sub-menu {
    display: flex;
    flex-wrap: wrap;
  }

  .mega-menu__list .menu-item > .sub-menu > .menu-item {
    flex: 1;
    flex-basis: calc(33% - .5rem);
    margin-bottom: 1rem;
  }

  .mega-menu__list .menu-item > .sub-menu .menu-item a {
    color: var(--dark-grey);
    font-weight: 600;
    padding: 0 1rem;
    justify-content: flex-start;
  }

  .mega-menu__list .menu-item > .sub-menu .menu-item a:hover {
    text-decoration: underline;
    background-color: initial;
  }

  .mega-menu__list .menu-item > .sub-menu .sub-menu {
    box-shadow: none;
    position: static;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .mega-menu__list .menu-item > .sub-menu .sub-menu .menu-item {
    margin-bottom: 0;
  }

  .mega-menu__list .menu-item > .sub-menu .sub-menu .menu-item a {
    font-weight: 400;
    font-size: .85rem;
    height: auto;
  }
}

@media (min-width: 992px) {
  .mega-menu__list .menu-item a {
    padding: 0 1rem;
  }

  .mega-menu__list .menu-item > .sub-menu > .menu-item {
    flex-basis: calc(25% - .5rem);
  }
}

@media (min-width: 1200px) {
  .mega-menu__list {
    justify-content: flex-start;
  }
}

/* @media (min-width: 576px) {
  .mega-menu__list-item > .mega-menu__sub-list {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .mega-menu__list-item > .mega-menu__sub-list {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .mega-menu__list-item > .mega-menu__sub-list {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .mega-menu__list-item > .mega-menu__sub-list {
    width: 1140px;
  }
} */
