.notice {
  margin-bottom: 1rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.notice a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

.notice a:focus, .notice a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.notice--info {}

.notice--success {
  background-color: var(--success);
  color: var(--white);
}

.notice--error {
  background-color: var(--error);
  color: var(--white);
  flex-direction: column;
  align-items: flex-start;
}