.product-card {
  margin-bottom: 2rem;
}

.product-card__image {}

.product-card__info {
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  justify-content: center;
  color: var(--dark-grey);
}

.product-card__title,
.woocommerce-loop-product__title{
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__price {
  margin: 0;
}

.product-card__price .price {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: flex-end;
}

.product-card__price del {
  font-size: .85rem;
}

.product-card__price ins {
  text-decoration: none;
  font-weight: 500;
  margin-right: .5rem;
}

.woocommerce-loop-product__link {
  text-decoration: none;
}