.product-section {}

.product-section__header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  font-weight: 200;
}

.product-section__title {
  font-size: 1.5rem;
  line-height: 1;
}

.product-section__see-more {
  margin-left: 1rem;
  color: var(--orange);
  text-decoration: none;
}

.product-section__see-more:hover {
  text-decoration: underline;
}