.product-card {
  margin-bottom: 2rem;
  transition: .2s box-shadow;
  height: calc(100% - 2rem);
}

.product-card:hover {
  box-shadow: var(--shadow-4dp);
}

.product-card__image {
  padding-top: 75%;
  background-position: center;
  background-size: cover;
  border-top-left-radius: .125rem;
  border-top-right-radius: .125rem;
}

.product-card__info {
  min-height: 4rem;
  padding: .75rem 1rem;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  justify-content: center;
  color: var(--dark-grey);
}

.product-card__title,
.woocommerce-loop-product__title{
  font-size: 1.25rem;
  line-height: 1.14;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__price {
  margin: 0;
}

.product-card__price .price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  font-weight: 700;
  font-size: .875rem;
  margin-top: .25rem;
  line-height: 1.25;
}

.product-card__price .price del {
  text-decoration: none;
}

.product-card__price .price del .amount {
  text-decoration: line-through;
  font-weight: 400;
}

.product-card__price .price ins {
  text-decoration: none;
}

.product-card__price .price ins .amount {
  margin-right: .5rem;
}

.woocommerce-loop-product__link {
  text-decoration: none;
  display: block;
  height: 100%;
}