.search {
  margin-left: auto;
  margin-right: .5rem;
}

.search--open {
  margin: 0;
  width: 100%;
}

.search__input {
  display: none;
  width: 100%;
  z-index: 1;
  position: relative;
  border: 0;
  padding-right: 2.5rem;
}

.search__input--show {
  display: flex;
}

.search__input--has-results {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search__icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--white);
  vertical-align: middle;
}

.search__toggle {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  width: 2.5rem;
  margin-left: .5rem;
  flex: 0 0 auto;
}

.search__toggle--close svg.open,
.search__toggle svg.close {
  display: none;
}

.search__toggle--close svg.close {
  display: inline;
}

.search__submit {
  background-color: transparent;
  border: 0;
  color: var(--dark-grey);
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 1;
  padding: 0.375rem 0;
  width: 2.5rem;
  height: 2.25rem;
  display: none;
}

.search__submit--show {
  display: block;
  right: 3rem;
}

.search__submit svg {
  fill: currentColor;
}

.search__form {
  position: relative;
  z-index: 9999999;
  display: flex;
}

.search__results {
  display: none;
  position: absolute;
  width: 100%;
  border-top: 1px solid var(--light-grey);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 0;
  box-shadow: var(--shadow-4dp);
}

.search__results--open {
  width: calc(100% - 3rem);
  top: 2.25rem;
}

.search--open .search__results--open {
  display: block;
}

.search__result.list__item {
  min-height: 3.5rem;
  padding: .75rem;
  flex-wrap: wrap;
}

.search__result-image {
  max-height: 32px;
  max-width: 32px;
  flex-basis: 32px;
  margin-right: .75rem;
  flex: 0 0 auto;
}

.search__result-name {
  margin: 0;
  line-height: 1;
  width: calc(100% - 32px - 1rem);
  padding: 0;
}

.search__result-price {
  margin-top: 0;
  margin-left: auto;
  font-weight: 700;
  flex: 0 0 auto;
}

.search__more,
.search__no-more {
  margin-top: .5rem;
  display: none;
  height: 3rem;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  color: var(--dark-grey);
  cursor: pointer;
  text-decoration: none;
  border-bottom-left-radius: .125rem;
  border-bottom-right-radius: .125rem;
}

.search__more--show,
.search__no-more--show {
  display: flex;
}

.search__no-more {
  background-color: transparent;
  color: var(--dark-grey);
  font-style: italic;
  cursor: initial;
}

@media screen and (min-width: 768px) {
  .search__form {
    display: block; 
    z-index: 2;
  }

  .search__toggle {
    display: none;
  }

  .search__submit {
    display: block;
  }

  .search__results--open {
    display: block;
    width: 100%;
  }

  .search {
    flex: 1;
    margin: 0 1rem 0 1.75rem;
  }

  .search__input {
    display: block;
  }

  .search__result-name {
    padding-right: .5rem;
    width: auto;
  }
}