.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 18rem;
  background-color: var(--white);
  transform: translateX(calc(-100% - 1rem));
  transition: .3s transform;
  box-shadow: var(--shadow-2dp);
  padding: .5rem 0 1rem;
  z-index: 999999;
}

.sidebar--open {
  transform: translateX(0);
}

.sidebar__toggle {
  margin-top: .75rem;
}

.sidebar__close {
  display: flex;
  justify-content: flex-end;
}

.sidebar__close-button {
  background-color: transparent;
  border: 0;
}

.sidebar__filter {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  width: calc(100% - 2rem);
}

.sidebar__header {
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 0 .75rem;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar__card {
  box-shadow: none;
}

.sidebar__card .list {
  margin-bottom: 1rem;
  padding: 0;
}

.sidebar__categories {}

.sidebar__price {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__price .input {
  width: 40%;
}

@media (min-width: 992px) {
  .sidebar {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    width: auto;
    max-width: none;
    margin-bottom: 5.5rem;
    transform: none;
    position: sticky;
    top: 2rem;
    height: auto;
    z-index: 0;
  }

  .sidebar__header {
    padding: 0;
  }

  .sidebar__close {
    display: none;
  }

  .sidebar__toggle {
    display: none;
  }

  .sidebar__card .list {
    padding: .5rem 0;
  }

  .sidebar__filter {
    position: static;
    width: 100%;
  }

  .sidebar__card {
    box-shadow: var(--shadow-2dp);
  }
}