.woocommerce-checkout-review-order {
  margin-top: .75rem;
}

#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment {
  border-radius: .125rem;
}

.woocommerce .place-order #respond input#submit.alt, 
.woocommerce .place-order a.button.alt, 
.woocommerce .place-order button.button.alt, 
.woocommerce .place-order input.button.alt {
  background-color: var(--dark-grey);
}

.woocommerce .place-order #respond input#submit.alt:hover, 
.woocommerce .place-order a.button.alt:hover, 
.woocommerce .place-order button.button.alt:hover, 
.woocommerce .place-order input.button.alt:hover {
  background-color: var(--medium-grey);
}