.front-page {
  margin: 1rem 0 0;
}

/*
.store-section {
}
*/

.store-section .store-section__image:only-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.store-section__heading {
  font-size: 1.414rem;
  line-height: 1.15;
  margin-top: 1.5rem;
  text-align: left;
}

.store-section__content {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.store-section__body {
  margin-top: 0.75rem;
}

.category-entry {
  padding-top: 75%;
  display: block;
  position: relative;
  background-color: var(--dark-grey);
  margin-bottom: 1rem;
  transition: .2s box-shadow;
}

.category-entry:hover {
  box-shadow: var(--shadow-4dp);
}

.category-entry__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: var(--shadow-2dp);
  text-transform: uppercase;
  padding-bottom: 1rem;
  color: var(--white);
  border-radius: .125rem;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .front-page {
    margin: 2rem 0;
  }
  .store-section .store-section__image:only-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: .125rem;
    border-bottom-left-radius: .125rem;
  }
  /*
  .store-section__heading {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 1.5rem;
  }
*/
  .store-section__content {
    padding: 0 2rem 0 1rem;
  }
}
