.button {
  display: inline-flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  border-radius: .125rem;
  font-size: 14px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.button:focus {
  background-color: var(--primary-focus-color);
}

.button[disabled] {
  color: color(var(--primary-text-color) alpha(-62%));
}

.button--raised {
  background-color: var(--primary-color);
  box-shadow: var(--primary-shadow);
}

.button--raised:focus {
  background-color: color(var(--primary-color) blackness(10%));
}

.button--raised[disabled] {
  background-color: var(--primary-focus-color);
  box-shadow: none;
}